/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #F5F5DC;
  color: #191970;
  font-family: Georgia;
  font-size: 20px;
  text-align: center;
  margin: 10px;
}

p {
    color: blue;
    font-size: 16px;
    font-style: oblique;
}

li {
  color: #5F9EA0;
  font-size: 16px;
}

ul {
  color: #5F9EA0;
}

form {
    color: #5F9EA0;
    font-size: 16px;
}

div {
	position: relative;
	margin: 10px;
	padding: 10px;
	left: 30px;
	right: 30px;
	border: 2px solid #4682B4;
	
}
